@import url(./_theme/table__cell_theme_dark.css);
.table__cell {
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 0px;
}

.table__cell:nth-child(-n+4) {
    padding-bottom: 60px;
    padding-top: 60px;
}