@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);
.feinman {
    height: 790px;
    padding-top: 80px;
    background-color: #F2F2F2;
    position: relative;
    background-image: url(../../images/feinman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: bottom 0px left 0px;
    z-index: 0;
}