.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #F2F2F2;
  position: relative;
  }

.logo{
    background-image: url(../images/logo.svg);
    }
.logo__place_header {
    width: 183px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 64px;
    }

.title {
    width: 730px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 64px;
}

.header__title {
    line-height: 102px;
    font-size: 102px;
    font-weight: bold;
    z-index: 2;

}

.subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2;
}

.header__subtitle{
    list-style: 25px;
    font-size: 18px;
}

.subtitle__link {
    text-decoration: none;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color:  #2F80ED;
    position: absolute;
    right: 0px;
    top: 64px;
    bottom: 0px;
}

.content {
    position: relative;
    margin: 0 0%;
    background-color: #F2F2F2;
}

.description {
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
}

.two-columns {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.two-columns__brief {
    display: block;
    width: 175px;
    max-width: 20%;
    margin-top: 0px;
    font-size: 18px;
    line-height: 1.2;
    color: #2F80ED;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.two-columns__paragraph {
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    color: #000;
     
}

.two-columns__paragraph:nth-of-type(3n) {
    margin-bottom: 0px;
}

.two-columns__span-accent {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    color: #000;
    margin: auto;
    margin-left: 0px; 
}

.digits {
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1100px;
}

.section-title {
    display: block;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 60%;
    border: solid;
        font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    margin-top: 0px;
}

.section-subtitle {
    display: block;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 60%;
    border: solid;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 0px;
}

.table {
    border: solid;
    display: flex;
    width: 1100px;
    margin: auto;
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}

.cell {
    display: flex;
    width: 250px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
}

.cell::nth-child(-n+4) {
    margin-bottom: 60px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

